  .button {
display: inline-block;
text-align: center;
border: 1px solid black;
background-color: white;
text-decoration: none;
color: black;
}

.button-sm {
  width: 40px;
  height: 20px;
  font-size: .53em;
}

.button-md {
  width: 100px;
  height: 40px;
}

.button-lg {
  width: 200px;
  height: 100px;
  font-size: 2em;
}