*,
*:before,
*:after {
   box-sizing: border-box;
}

h1 {
  color: #32a4fb;
}

form {
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 240px;
  margin: 0 auto;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input {
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  float: left;
  margin-right: 10px;

}

.qnr {
  padding: 20px;
}

.qstn {
  padding-top: 20px;
}

.qnr label {
  color: #32a4fb;
  display: block;
  font-weight: bold;
  padding-left: 18px;
}


.qnr input {
  background: #fff;
  border: 1px solid #c6c7cc;
  color: #636466;
  padding: 6px;
  margin-top: 3px;
}

.other {
  width: 120px;
  height: 19px;
}



.submit {
  color: #32a4fb;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.submit:hover {
  background-color: #32a4fb;
  cursor: pointer;
  color: white;
}


