*,
*:before,
*:after {
   box-sizing: border-box;
}


form {
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 500px;
  margin: 0 auto;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  display: block;
  resize: none;
}

input {
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.sched {
  padding: 20px;
}

.sched label {
  color: #32a4fb;
  display: block;
  font-weight: bold;
}

.sched input {
  background: #fff;
  border: 1px solid #c6c7cc;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
}

#date {
  width: 40%;
}

#time {
  width: 40%;
}

.submit {
  color: #32a4fb;
}

.submit:hover {
  background-color: #32a4fb;
  cursor: pointer;
  color: white;
}

