*,
*:before,
*:after {
   box-sizing: border-box;
}

h1 {
  color: #32a4fb;
}

form {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  margin: 0 auto;
  width: 600px;
}

fieldset {
  border: none;
}

input {
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;

}


.search {
  width: 300px;
  border: 1px solid #32a4fb;
}

.regions-dropdown {
  border: 1px solid #32a4fb;
  display: inline-block;
  height: 23px;
}

.btn {
  color: #32a4fb;
  background-color: white;
  width: 20%;
  display: inline-block;
  border: 1px solid #32a4fb;

}

.btn:hover {
  background-color: #32a4fb;
  cursor: pointer;
  color: white;
}

select:hover {
  cursor: pointer;
}
