

.sidebar {
  width: 10%;
  margin: 0 auto;
  height: 50%;
  border: 1px solid orange;
  padding: 5px;
  background-color: rgb(150, 150, 150);
  border-radius: 25px;
  font-size: 16px;
}

.sidebar p {
  line-height: 200%;
}

.sidebar h1, h3 {
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  text-align: center;
  font-family: sans-serif;
  position: relative;
}



.sidebarpic {
  max-width: 100%;
  border-radius: 25px;
  opacity: .6;
  border: 1px solid orange;
  margin-left: auto;
  margin-right: auto;
}
