*,
*:before,
*:after {
   box-sizing: border-box;
}

h1 {
  color: #32a4fb;
}

form {
  border: 1px solid #c6c7cc;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 240px;
  margin: 0 auto;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input {
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.signup {
  padding: 20px;
  margin: 0 auto;
}

.signup label {
  color: #32a4fb;
  display: block;
  font-weight: bold;
}

.signup input {
  background: #fff;
  border: 1px solid #c6c7cc;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
}

input.dob {
  margin-top: 0px;
}

.submit {
  color: #32a4fb;
}

.submit:hover {
  background-color: #32a4fb;
  cursor: pointer;
  color: white;
}

