* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


/*******
Header
*******/

#main-header {
  text-align: center;
  line-height: 10px;
}

.header-font {
  font-family: 'Bungee Shade', sans-serif;
}

.main-name,
.path {
  color: black;
}

.main-name {
  padding: 25px;
  font-size: 25px;
}

.path {
  padding: 15px;
  font-size: 20px;
}


/******
Links and List Edits
*******/

current {
  cursor: default;
  background-color: #bbb;
}

a {
  text-decoration: none;
  margin-top: 20px;
  font-size: 1.25em;
}

.nav li {
  display: inline-block;
  position: relative;
}


ul {
  position: absolute;
  left: 10%;
  max-width: 80%;
  width: 100%;
}

.nav a {
  display: block;
  color: #FF2E86;
  text-decoration: none;
  font-family: 'Bungee Inline', sans-serif;
  text-transform: uppercase;
  font-size: 1.25em;
  letter-spacing: 1px;
  position: relative;
}

.nav a:hover {
  background-color: clear;
  color: black;
}

nav ul ul {
  display: none;
}

nav ul li:hover ul {
  display: inline-block;
}

.forms {
  float: right;
}

/****
Sub-Menu
****/

.sub-menu {
  width: 150px;
}

.nav li li {
  font-size: .5em;
}


/*****
Picture
*****/


#front-main-image {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  max-width: 70%;
  opacity: 0.7;
  filter: alpha(opacity=50);
  /* For IE8 and earlier */
  
}

section {
  padding-top: 50px;
}

/******
Quote
******/



.quote {
  font-family: 'Alfa Slab One', sans-serif;
  font-size: 150%;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
  color: #2EFFA8;
}

blockquote {
  border: 3px solid #ccc;
  margin: 0 auto;
  width: 400px;
  margin-top: 50px;
}

.teal {
  color: black;
}

/******
Main Styling
******/

.container {
  margin: 150px;
}

.content {
  margin: 0 auto;
  width: 400px;
}

.content-product {
  width: 900px;
  margin-top: 150px;
}

.content-search {
  width: 900px;
  margin-top: 350px;
}

.search-


/******
Footer
******/

.footer {
  text-align: center;
  font-family: 'Alfa Slab One', sans-serif;
  color: black;
  font-size: 1em;
  text-decoration: none;
  padding-top: 100px;
}

.footer p {
  width: 100%;
  margin: 0 auto;
}

.footer a {
  color: black;
}

/**********
Project Page
**********/

.project {
  text-align: center;
  color: black;
  text-decoration: none;
  font-family: 'Bungee Inline', sans-serif;
}

.project a:link, .project a:visited {
  color: #FF2E85;
}



/**********
Forms Page
**********/




